.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 4rem 2rem 2rem;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fef4f5;

    transition: all 0.3s ease-in-out;

    img {
      width: 50px;
      height: 50px;
      margin: 0 0.7rem;
    }

    p {
      font-weight: 700;
    }

    a {
      text-decoration: none;
      font-weight: 600;
    }
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  @media screen and (maxi-width: 768px) {
    width: 100%;
  }
}

.app__footer-cards .app__footer-card:last-child {
  background-color: #f2f7fb;
}

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;

    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);

    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 10px;
      outline: none;

      font-family: var(--font-base);
      color: var(--secondary-color);
    }

    textarea {
      height: 170px;
      resize: none;
    }

    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }
  }

  button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #256fac;
    font-weight: 600;
    font-family: var(--font-base);
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    cursor: pointer;
  }
}
